.main_question{
    border-bottom: solid;
    padding: 20px;
    margin-right: 30px;
    margin-top: 50px;
}
.question_list{
	margin: 5px 10px;
	padding: 10px;
}
.question_avatar img {
	width: 150px;
}
.question_content{
	padding: 5px 10px;
}
.likes{
	margin: 10px 0px;
}
.like_counter{
	font-weight: bold;
}
.question_tags a{
	color: green;
	font-weight: bold;
}


.answer{
    border-bottom: dotted;
    padding: 20px;
    margin-right: 30px;
    margin-top: 10px;
}
.answer_list{
	margin: 5px 10px;
	padding: 10px;
}
.answer_avatar img {
	width: 120px;
}
.answer_content{
	padding: 5px 10px;
}
.your_answer{
	margin-top: 10px;
}
.btn-answer{
	margin-bottom: 10px;
}