{% load static %}

<div class="question row">
    <div class="col-4 question_avatar">
      <img src="{% static 'img/avatar.jpg' %}" alt="UwU">
    </div>
    <div class="question_content col-8">
      <h2 class="question_title"><a href="{% url 'detail_question' question.id %}">{{ question.title }}</a></h2>
      <div class="question_text">
        <p>{{ question.text }}</p>
      </div>
        <p class="date-time">
            <div class="fw-light fst-italic">{{ question.date_time|date:"H:i" }}</div>
            <div class="fw-light fst-italic">{{ question.date_time|date:"d M Y" }}</div>
        </p>
    </div>
    <div class="control_panel row">
      <div class="likes col-4">
        <button type="button" class="btn btn-success">Like</button>
        <span class="like_counter">{{ question.cur_rate }}</span>
        <button type="button" class="btn btn-danger">Dislike</button>
      </div>
      <div class="col-4 answers">
        <a href="{% url 'detail_question' question.id %}">answers ({{ question.ans_count }})</a>
      </div>
      <div class="col-4 question_tags">
        Tags:
          {% for tag in question.tags.all %}
          <a href="{% url 'tag' tag.name %}">{{ tag }}</a>
          {% endfor %}
      </div>
    </div>
  </div>