{% load static %}

<div class="question row">
    <div class="col-4 question_avatar">
      <img src="{% static 'img/avatar.jpg' %}" alt="UwU">
    </div>
    <div class="question_content col-8">
      <h2 class="question_title"><a href="{% url 'detail_question' question.id %}">{{ question.title }}</a></h2>
      <div class="question_text">
        <p>{{ question.text }}</p>
      </div>
    </div>
    <div class="control_panel row">
      <div class="likes col-4">
        <button type="button" class="btn btn-success">Like</button>
        <span class="like_counter">-9</span>
        <button type="button" class="btn btn-danger">Dislike</button>
      </div>
      <div class="col-4 answers">
        <a href="{% url 'detail_question' question.id %}">answer (50)</a>
      </div>
      <div class="col-4 question_tags">
        Tags:
        <a href="{% url 'tag' 'Python' %}">Python</a>
        <a href="{% url 'tag' 'SQL' %}">SQL</a>
      </div>
    </div>
  </div>