{% load static %}


{% if is_logged_in %}
<li class="nav-item avatar">
    <img  src="{% static 'img/avatar.jpg' %}" alt="UwU">
</li>
<li class="nav-item login_work">
    <div class="name"><h4>Hamprry</h4></div>
    <div class="account_work">
        <a href="{% url 'settings' %}" class="settings">settings</a>
        <a href="#" class="logout">log out</a>
    </div>
</li>

{% else %}
        <li class="nav-item avatar">
            <img  src="{% static 'img/blank-user.jpg' %}" alt="UwU">
        </li>
          <li class="nav-item login_work">
            <div class="account_work">
              <a href="{% url 'login' %}" class="login">log in</a>
              <a href="{% url 'signup' %}" class="register">register</a>
            </div>
          </li>
{% endif %}