{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>Ask_Vukolov</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Ask_Vukolov</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item search_bar">
            <form class="d-flex">
              <input class="form-control me-2 search_input" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Ask!</button>
            </form>
          </li>
          <li class="nav-item avatar">
            <img  src="{% static 'img/avatar.jpg' %}" alt="UwU">
          </li>
          <li class="nav-item login_work">
            <div class="name"><h4>Hamprry</h4></div>
            <div class="account_work">
              <a href="#" class="settings">settings</a>
              <a href="#" class="logout">log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-8">
        {% block content %}
        {% endblock %}
      </div>
        <div class="col-4 slider">
        <h2 class="mt-5">Popular Tags</h2>
        <ul class="tags_top">
          <li class="tags_group">
            <ul>
              <li class="tag"><a href="">Lorem.</a></li>
              <li class="tag"><a href="">Asperiores!</a></li>
              <li class="tag"><a href="">Sequi.</a></li>
              <li class="tag"><a href="">Illo!</a></li>
            </ul>
          </li>
          <li class="tags_group">
            <ul>
              <li class="tag"><a href="">Lorem.</a></li>
              <li class="tag"><a href="">Optio.</a></li>
              <li class="tag"><a href="">Inventore.</a></li>
              <li class="tag"><a href="">Quasi.</a></li>
            </ul>
          </li>
          <li class="tags_group">
            <ul>
              <li class="tag"><a href="">Lorem.</a></li>
              <li class="tag"><a href="">Quisquam.</a></li>
              <li class="tag"><a href="">Ut?</a></li>
              <li class="tag"><a href="">Nesciunt?</a></li>
            </ul>
          </li>
        </ul>
        <h2 class="mt-5">Best Members</h2>
        <ul class="members">
          <li><a href="#">Lorem.</a></li>
          <li><a href="#">Quas!</a></li>
          <li><a href="#">Neque!</a></li>
          <li><a href="#">Est.</a></li>
          <li><a href="#">Ab.</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto py-3 bg-secondary">
  <div class="container">
    <span class="text-light">Ask_Vukolov</span>
  </div>
</footer>


    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>

      
  </body>
</html>
