{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

          <h1 class="mt-5">Log In</h1>
          <div class="error_msg">Sorry, wrong password</div>
          <div class="row login_area login_element">
            <label for="input_login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-7">
              <input type="text" class="form-control" id="input_login" placeholder="Login">
            </div>
          </div>
          <div class="row pass_area login_element">
            <label for="input_pass" class="col-sm-2 col-form-label">Password</label>
            <div class="col-7">
              <input type="password" class="form-control" id="input_pass" minlength="8">
            </div>
          </div>
          <button class="btn btn-success" type="submit">Log in</button>
          <div class="first_time">
            <a href="{% url 'signup' %}"> create new account</a>
          </div>

{% endblock %}

